**Q : Lire le fichier 'Category.csv ?**

In [1]:
df= pd.read_csv("category.csv")
df.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,Asia
1,Albania,89,132,54,4.9,Europe
2,Algeria,25,0,14,0.7,Africa
3,Andorra,245,138,312,12.4,Europe
4,Angola,217,57,45,5.9,Africa

**Q : Calculer la taille mémoire occupée par les cols 'continent' et 'country' ?**

In [2]:
df[["country","continent"]].memory_usage(deep=True)

Index           80
country      12588
continent    12332
dtype: int64

**Q : Triez la col 'continent' et 'country' ds 1ordre alphabétique croissant et lister pr chacune leur modalités (uniques) ?**  
**Q : Quelle est la différence entre sorted et sort_values ?**

In [18]:
df.continent.sort_values().unique()

[Africa, Asia, Europe, North America, Oceania, South America]
Categories (6, object): [Africa, Asia, Europe, North America, Oceania, South America]

In [15]:
sorted(df.continent.unique())

['Africa', 'Asia', 'Europe', 'North America', 'Oceania', 'South America']

**Q : Convertir les cols 'continent' et 'country' en type 'category' et mesurer la taille mémoire occupée par chacune ?**  
**Comparer les tailles avant/après et expliquer la 'surprise obtenue' avec la col 'country' ?**

In [5]:

df.country= pd.Categorical(df['country'], ordered=False)
df.continent= pd.Categorical(df['continent'], ordered=False)
df.dtypes

country                         category
beer_servings                      int64
spirit_servings                    int64
wine_servings                      int64
total_litres_of_pure_alcohol     float64
continent                       category
dtype: object

In [6]:
df[["country","continent"]].memory_usage(deep=True)

Index           80
country      18094
continent      744
dtype: int64

**Q : Cmnt fonctionne le type 'category' ? Pr cela, testez les commandes suivantes**

In [7]:
#df.continent.cat.codes.head()
#df.country.cat.codes.head()
#df.continent.cat.categories
df.country.cat.categories

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua & Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       'United Arab Emirates', 'United Kingdom', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype='object', length=193)

**Maîtriser le type 'category'**  
**Q : Transformer ce dico en df et trier le df selon la col 'quality' ds 1ordre croissant de la qualité(excellent>verygood>good) (et inversement) ?**  
dico = {'ID':[100, 101, 102, 103], 'quality':['good', 'very good', 'good', 'excellent']}

In [8]:
df1= pd.DataFrame({'ID':[100, 101, 102, 103], 'quality':['good', 'very good', 'good', 'excellent']})
df1

    ID    quality
0  100       good
1  101  very good
2  102       good
3  103  excellent

In [9]:
#df1.quality.sort_values()
t=

3    excellent
0         good
2         good
1    very good
Name: quality, dtype: object

In [10]:
df1.quality.sort_values(ascending=False)

1    very good
2         good
0         good
3    excellent
Name: quality, dtype: object

**Q : Slicez le df pr obtenir que les données dont la col 'quality' indique 'very good' et 'excellent' ?**

In [11]:
df1.iloc[1:4:2]

    ID    quality
1  101  very good
3  103  excellent

**Q : Revenez sur le fichier games_logs.csv et convertir les col adéquates en Category ?**

In [12]:
df2= pd.read_table("game_logs.csv", sep=",",low_memory=False)
df2.head()

,date,number_of_game,day_of_week,v_name,v_league,v_game_number,h_name,h_league,h_game_number,v_score,...,h_player_7_name,h_player_7_def_pos,h_player_8_id,h_player_8_name,h_player_8_def_pos,h_player_9_id,h_player_9_name,h_player_9_def_pos,additional_info,acquisition_info
0,18710504,0,Thu,CL1,na,1,FW1,na,1,0,...,Ed Mincher,7.0,mcdej101,James McDermott,8.0,kellb105,Bill Kelly,9.0,NaN,Y
1,18710505,0,Fri,BS1,na,1,WS3,na,1,20,...,Asa Brainard,1.0,burrh101,Henry Burroughs,9.0,berth101,Henry Berthrong,8.0,HTBF,Y
2,18710506,0,Sat,CL1,na,2,RC1,na,1,12,...,Pony Sager,6.0,birdg101,George Bird,7.0,stirg101,Gat Stires,9.0,NaN,Y
3,18710508,0,Mon,CL1,na,3,CH1,na,1,12,...,Ed Duffy,6.0,pinke101,Ed Pinkham,5.0,zettg101,George Zettlein,1.0,NaN,Y
4,18710509,0,Tue,BS1,na,2,TRO,na,1,9,...,Steve Bellan,5.0,pikel101,Lip Pike,3.0,cravb101,Bill Craver,6.0,HTBF,Y

In [13]:
for columns in df2.columns():
    if df2.columns.dtypes == object:
        print (df2.columns.astype('category'))

TypeError: 'Index' object is not callable

In [ ]:
**Q : Est-ce qu'on doit convertir la col 'date' de games_logs.csv en type datetime ?**

**Q : Approfondir les méthodes de tri de df ?**
http://cmdlinetips.com/2018/02/how-to-sort-pandas-dataframe-by-columns-and-row/